@import './@normalize.sass'
@import './@fonts'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto-Regular', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-style: normal
  font-weight: 400
  color: black

.App
  display: flex
  flex-direction: column
  min-height: 100vh
  position: relative
